@font-face {
    font-family: 'WandohopeB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/WandohopeB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Humanbumsuk';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Humanbumsuk.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Humanbumsuk';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cate-hero{
    background-color: #cce8f4;
}

.cate-hero-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem calc((100vw - 1300px) / 2);
}
.cate-section{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 5rem;
}


.column-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0rem 2rem;
}

.column-left h1{
    margin-bottom: 1rem;
    font-size: 3rem;
}

.column-left p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
}

.rec-btn{
    background-color: black;
    color: #fff;
    padding: 1rem 3rem;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}

.rec-btn:hover{
    background-color: #fff;
    color: black;

}

.cate-hero-img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1200px){
    .cate-hero-container{
        grid-template-columns: 1fr;
    }
    .cate-hero-img{
        height: 70%;
    }
    .cate-hero{
        height: 70vh;
    }
}

.cards{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    grid-column-gap: 10px;
    grid-row-gap: 14px;
}

.card_item{
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
}

.card_item_link{
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.17));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.17));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
}

.card_item_pic-wrap{
    position: relative;
    width: 100%;
    padding: 45%;
    overflow: hidden;
}

.fade-img{
    animation-name: fade-img;
    animation-duration: 2s;
}

.card_item_img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
}

.card_item_img:hover{
    transform: scale(1.1);
}

.card_item_info{
    padding: 10px 20px 30px;
    white-space: pre-line;
    word-break: break-all;
}

.card_item_text{
    color: #252e48;
    font-size: 17px;
    line-height: 24px;
    width: 270px;
}

.quick_mapArea {
    margin: 80px 0;
    width: 1000px;
    height: 500px;
}

.quick_mapArea g.active path {
    fill: #569aff
}

.quick_mapArea g.active path:last-child {
    fill: #fff;
}