@font-face {
    font-family: 'WandohopeB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/WandohopeB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin:0;
    padding:0;
    position:relative;
}

.hero{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
}

.hero .head {
    text-align: center;
    width: 60%;

    color: white;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.hero video{
    min-width: 100%;
    min-height: 100%;
    z-index: -1;

    overflow: hidden;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.hero-title{
    font-family: 'WandohopeB';
    margin: 40px 0;
    text-align: center;
}

.hero-title span{font-size: 2.6rem;}
.hero-title h1{font-size: 4.6rem;}
.hero-title p{font-size: 2.6rem;}


.hero-btn{
    display: flex;
    justify-content: center;

    padding: 40px 0;
}

.hero-btn button{
    font-family: 'WandohopeB';
    font-size: 1.3rem;

    width: 200px;
    height: 45px;
    margin: 0 30px;
    cursor: pointer;
}

#cate-btn{
    background-color: skyblue;
    color:#fff;
    border: none;
    border-radius: 25px;
}
#map-btn{
    background-color: #fff;
    color:skyblue;
    border: 1px solid skyblue;
    border-radius: 25px;
}
