.house_modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.store_name{
    font-size: 26px;
    padding: 15px 20px 0 20px;
    background: linear-gradient(to top, #ffff9e 10%, transparent 40%);
}
.house_category_bar{
    display: flex;
    justify-content: flex-end;
}

.house_category{
    width: 800px;
    font-size: 18px;
    padding: 5px 30px;
    display: flex;
    justify-content: flex-start;
}

.house_info{
    width: 100%;
    padding: 20px 80px;
}

.house_info label{
    margin-right: 8px;
}

.house_info input{
    border: none;
    width: 200px;
    border-bottom: 1.5px solid #ddd;
}


.house_img{
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.house_img img{
    width: 550px;
    height: 370px;
}

.p_t{
    width: 90px;
}